#ShoppingCartPreview {
    background: $darkenThemeColor;
    border: 2px solid $themeColor;
    border-radius: 5px;
    box-shadow: black 0px 0px 3px;
}

.shoppingCartPreview {
    .title {
        display: none;
    }

    .content {
        color: $mainFontColor;
        text-align: center;
        padding: 10px;

        & > p:nth-child(2) {
            padding: 10px 0;
        }

        .cartPreviewList {
            border-collapse: collapse;
            width: 100%;
            display: table;
            max-height: initial;

            @include Scrollable();

            thead {
                position: sticky;
                top: 0;
                background: $darkenThemeColor;
                line-height: 1.5em;
            }

            tbody {

                td {
                    padding: 5px;
                    cursor: pointer;
                    &:nth-child(2) {
                        width: 1px;
                    }
                }
            }

            tfoot {
                position: sticky;
                bottom: 0;
                background: $darkenThemeColor;
                line-height: 1.7em;
            }

            &__removeItemButton {
                color: darkred;
            }

            &__totalPrice td:nth-child(1) {
                text-align: right;
            }
        }

        .buttons {
            display: none;
        }
    }

    &--isMinimal {
        display: none;
        position: absolute;
        right: 20px;
        top: 60px;
        min-width: 350px;
        max-width: 500px;
        z-index: 9;

        @include full-display {
            right: 50px;
            top: 90px;
        }

        .title {
            display: block;
            width: 100%;
            padding: 5px 20px 10px;
            background: $themeColor;
            color: $mainFontColor;
            text-align: center;
        }

        .content {
            .cartPreviewList {
                display: block;
                max-height: 200px;
                td:first-child > div > span {
                    display: none;
                }
            }

            .buttons {
                display: block;
                .button {
                    height: 35px;
                    line-height: 35px;
                    padding: 0 20px;
                    margin: 10px 10px 0;
                }
            }
        }
    }

    &--visible {
        @include tablet-landscape {
            display: block;
        }
    }
}