#Diet
{
  @include PageHeader();
  .articleSection__header
  {
    > h2 > span {
        color: $lightenThemeColor;
      }
    > img
    {
      margin-bottom: 20px;
    }
  }
  .articleWithPicture__content
  {
    .smallSubtitle
    {
      font-size: 1em;
      strong
      {
        font-weight: 500;
      }
    }
  }
  .contactFormWrapper
  {
    margin: 50px auto;
  }
}