#ShoppingCart {
  .pageTitle {
    margin-bottom: 30px;
  }
  background: $themeColor;
  color: $mainFontColor;
  padding: 25px;

  .orderForm {
    margin-top: 25px;

    @include desktop {
      margin-top: 0;
    }

    output {
      padding: 7px 0;
      color: rgb(200, 0, 0);
    }
  }
}